
header {
    font-family: 'sans-serif' Arial, Helvetica, Verdana;
    font-size: x-large;
    background-color: rgb(220, 214, 224);
    padding: 10px;

}





.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}

.button {
    float: right;
    border: 1px solid black;
}

.button:hover { background-color: gray;}


.active-like{
    background-color: green;
}
.active-dislike{
    background-color: red;
}

.inactive {
    background-color: white;
}