
header {
    font-family: 'sans-serif' Arial, Helvetica, Verdana;
    font-size: x-large;
    background-color: rgb(220, 214, 224);
    padding: 10px;

}





.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}

.button {
    float: right;
    padding: 1em;
}

.active{
    background-color: rgb(158, 121, 245);
}

.inactive {
    background-color: white;
}

